color {
  color: rgb(2, 68, 99);
  color: rgb(5, 108, 156);
  color: rgb(3, 169, 244);
}
* {
  direction: rtl;
}
body {
  margin: 0;
}
header {
  height: 400px;
}
header img {
  width: 100%;
  height: 100%;
}
.address {
  text-align: center;
  font-size: 52px;
  font-family: DecoType Thuluth;
  font-weight: bolder;
}
.goto {
  font-size: 20px;
  color: #056c9c;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  margin: 20px 40px 9px 0px;
  display: inline-block;
}
.not-done {
  filter: grayscale(1);
}
.goto:hover {
  color: #024463;
  background-color: #03a9f4;
}
.unit {
  padding: 0 10%;
}
.unit p {
  text-align: right;
  font-size: 28px;
  color: #03a9f4;
  display: block;
  text-align: center;
}
.unit span {
  color: #000000;
}
.unit img {
  width: 100%;
}
.chapter {
  width: 350px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 2px solid #056c9c;
  border-radius: 5%;
  display: inline-block;
}
.chapter p {
  font-size: 15px;
  display: block;
  font-weight: bolder;
}
.chapter a {
  font-size: 20px;
  color: #056c9c;
  text-align: center;
  text-decoration: none;
  padding: 15px 10px;
  margin: 20px 6px 9px 0px;
  display: inline-block;
}
.chapter a:hover {
  color: #024463;
  text-decoration: none;
  background-color: #03a9f4;
}
.back {
  position: fixed;
  padding: 15px 10px;
  color: #024463;
  text-decoration: none;
  background-color: #03a9f4;
  font-size: 18px;
  border-radius: 50%;
  bottom: 5%;
  left: 2%;
  z-index: 5;
}
.back:hover {
  box-shadow: 0 0 30px#024463;
}

@media (max-width: 514px) {
  header {
    height: 150px;
  }
  header img {
    width: 100%;
    height: 100%;
  }
  .address {
    font-size: 34px;
  }
  .goto {
    font-size: 17px;
    padding: 5px 3px;
    margin: 0px 70px 9px 0px;
  }
  .unit {
    padding: 0 10%;
  }
  .unit p {
    font-size: 20px;
  }
  .unit img {
    width: 100%;
  }
  .chapter {
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #056c9c;
    border-radius: 5%;
  }
  .chapter p {
    font-size: 20px;
  }
  .chapter a {
    font-size: 19px;
    padding: 12px 3px;
    margin: 2px 1px 2px 0px;
}
  .back {
    padding: 15px 10px;
    font-size: 18px;
  }
}
@media (min-width: 515px) and (max-width:661px) {
  header {
    height: 200px;
  }
  header img {
    width: 100%;
    height: 100%;
  }
  .address {
    font-size: 45px;
  }
  .goto {
    font-size: 20px;
    padding: 5px 3px;
    margin: 0px 70px 9px 0px;
  }
  .unit {
    padding: 0 10%;
  }
  .unit p {
    font-size: 20px;
  }
  .unit img {
    width: 100%;
  }
  .chapter {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #056c9c;
    border-radius: 5%;
  }
  .chapter p {
    font-size: 26px;
  }
  .chapter a {
    font-size: 29px;
    padding: 12px 3px;
    margin: 2px 1px 2px 0px;
}
  .back {
    padding: 15px 10px;
    font-size: 18px;
  }
}
@media (min-width: 662px) and (max-width:835px) {
  header {
    height: 200px;
  }
  header img {
    width: 100%;
    height: 100%;
  }
  .address {
    font-size: 45px;
  }
  .goto {
    font-size: 30px;
    padding: 5px 3px;
    margin: 0px 70px 9px 0px;
  }
  .unit {
    padding: 0 10%;
  }
  .unit p {
    font-size: 29px;
  }
  .unit img {
    width: 100%;
  }
  .chapter {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #056c9c;
    border-radius: 5%;
    
  }
  .chapter p {
    font-size: 26px;
  }
  .chapter a {
    font-size: 36px;
    padding: 12px 3px;
    margin: 2px 1px 2px 0px;
}
  .back {
    padding: 15px 15px;
    font-size: 25px;
  }
}
@media (min-width: 836px) and (max-width:1023px) {
  header {
    height: 200px;
  }
  header img {
    width: 100%;
    height: 100%;
  }
  .address {
    font-size: 45px;
  }
  .goto {
    font-size: 40px;
    padding: 5px 3px;
    margin: 0px 70px 9px 0px;
  }
  .unit {
    padding: 0 10%;
  }
  .unit p {
    font-size: 37px;
  }
  .unit img {
    width: 100%;
  }
  .chapter {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #056c9c;
    border-radius: 5%;
  }
  .chapter p {
    font-size: 40px;
  }
  .chapter a {
    font-size: 45px;
    padding: 12px 3px;
    margin: 2px 1px 2px 0px;
}
  .back {
    padding: 15px 15px;
    font-size: 30px;
  }
}
